// @import "font"
@import "vars"

// home
.home
	padding: 300px 0
	position: relative
	overflow: hidden
	z-index: 1
	&::before, &::after
		content: ''
		position: absolute
		z-index: -1
		width: 539px
		height: 960px
		left: 0
		top: 0
		background: url('../img/home-decor1.svg') no-repeat center
		background-size: 100%
	&::after
		left: auto
		right: 0
		width: 451px
		height: 1255px
		background: url('../img/home-decor2.svg') no-repeat center
		background-size: 100%

.home-image
	min-width: 622px
	position: relative
	z-index: 1
	&::after
		content: ''
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)
		width: 766px
		height: 582px
		background: url('../img/home-img-decor1.svg') no-repeat center
		background-size: 100%
		z-index: -1
	&::before
		content: ''
		position: absolute
		width: 624px
		height: 144px
		bottom: 44px
		left: 46%
		transform: translate(-50%,0)
		transform-origin: center
		background: url("../img/home-img-decor2.svg") no-repeat center
		background-size: 100%
		z-index: -1
		animation: rotate-img 4s infinite ease

@keyframes rotate-img
	0%
		transform: translate(-50%,0) rotateY(0deg)
	100%
		transform: translate(-50%,0) rotateY(360deg)

// plane
.plane
	.subtitle-text
		max-width: 340px
		margin: 0 auto 36px

.plane-wrapper
	width: 100%
	display: flex
	align-items: stretch
	justify-content: center
	flex-wrap: wrap

.plane-box
	max-width: 300px
	width: 100%
	margin: 0 20px 0 0
	padding: 46px 38px
	text-align: center
	box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.15), 0px 3px 20px 3px rgba(#FFF, .15) inset
	border: 2px solid #FB37E8
	background: #202134
	h3
		margin: 0 auto 15px
		color: $pink
	&:last-child
		margin: 0
		border-color: #544FFF
		border-radius: 0px 30px 30px 0px
		padding: 46px 50px
		h3
			color: #544FFF
	&:first-child
		border-radius: 30px 0px 0px 30px
		border-color: #FF3853
		h3
			color: #FF3880

// start
.start
	h2
		margin: 0 auto 80px

.start-box
	max-width: 850px
	width: 100%
	margin: 0 auto 160px
	h3
		width: fit-content
		background: linear-gradient(90deg, #FF3842 -28.58%, #3535FF 263.75%)
		background-clip: text
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		font-size: 34px
		font-family: $font
		font-weight: bold
		letter-spacing: 1.7px
		line-height: 50px
	h4
		margin: 15px 0 35px
		font-size: 26px
		font-weight: bold
	&__img
		min-width: 335px

// choose
.choose
	padding: 120px 0 100px

.choose-box
	width: 100%
	height: 100%
	background: #232439
	border-radius: 30px
	padding: 35px 20px 40px
	text-align: center
	.box-text
		max-width: 485px
		margin: 10px auto 0
	h4
		text-transform: uppercase
	&__icon
		@include d-flex
		height: 77px
		margin: 0 auto 42px
		img
			max-height: 100%

// about
.about
	padding: 85px 0 80px
	.subtitle-text
		margin: 10px auto 76px
		max-width: 529px

.about-signal
	width: 100%
	height: 100%
	h3
		text-align: center
		width: 100%
		text-transform: uppercase
		margin: 0 auto 35px
	&-box
		width: 100%
		&__body
			border-radius: 30px 30px 0px 0px
			border: 2px solid #30324B
			background: #202134
			width: 100%
			height: 321px
			padding: 43px 25px 40px
		&__img
			width: 100%
			height: 100%
			@include d-flex
		&__footer
			width: 100%
			.btn
				border-radius: 0px 0px 30px 30px
			.btn-accent
				border: 2px solid #FF3880
			.btn-violet
				border: 2px solid #544FFF
				&:hover
					border-color: $accent			