@import 'fonts'
@import 'vars'

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
	display: block

blockquote, q
	quotes: none

blockquote:before, blockquote:after, q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: normal
	font-family: $default-font
	font-weight: normal
	background: #232439
	color: #fff

.wrapper
	width: 100%

.section-decor
	width: 100%
	height: 100%
	position: relative
	z-index: 1
	&::before
		content: ''
		position: absolute
		left: 0
		bottom: 0
		width: 100%
		height: 1px
		opacity: 0.5
		background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, #FFF 49.82%, rgba(255, 255, 255, 0.00) 101.43%)
	&__img
		position: absolute
		z-index: -1
		width: 100%
		height: 100%
		left: 0
		top: 0
		&::before, &::after
			content: ''
			position: absolute
			z-index: -1
			width: 320px
			height: 100%
			top: 0
		&::before
			left: 0
			background: url('../img/decor1.svg') repeat-y center
		&::after
			right: 0
			background: url('../img/decor2.svg') repeat-y center

img
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

a
	display: block
	text-decoration: none
	transition: .3s ease
	outline: none
	width: fit-content

	&:hover, &:focus
		text-decoration: none

input, textarea, select
	outline: none
	box-shadow: none
	appearance: none
	padding: 0 15px
	box-sizing: border-box
	font-family: $default-font
	border: none
	border-radius: 10px
	width: 100%
	height: 54px
	background: transparent
	color: #000
	font-size: 15px
	cursor: pointer
	&::placeholder
		color: #595959

	&:hover, &:focus
		outline: none
		box-shadow: none

input[type="radio"], input[type="checkbox"]
	width: auto
	height: auto
	appearance: auto
	margin: 0 5px 0 0
	display: inline

label
	display: block
	width: 100%
	margin: 0 0 13px

	&:last-child
		margin: 0

textarea
	resize: none
	padding: 12px 17px
	height: 103px

button, .btn
	outline: none
	transition: .3s ease
	cursor: pointer
	box-shadow: none
	font-family: $default-font
	padding: 0
	margin: 0
	border: none
	border-radius: 0

	&:hover, &:focus
		outline: none
		box-shadow: none

.btn
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	text-transform: uppercase
	padding: 10px 75px
	font-size: 24px
	font-weight: bold
	height: 60px
	border-radius: 30px
	transition: 0.3s ease

.btn-accent
	color: #fff
	background: linear-gradient(58deg, #FF3842 -10.68%, #3232FF 104.72%)
	box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.15)
	&:hover
		background: linear-gradient(78deg, #FF3842 11.7%, #3232FF 92.64%)

.btn-red
	background: $accent
	color: #fff
	&:hover
		background: $pink
		color: #fff

.btn-violet
	background: $violet
	color: #fff
	&:hover
		background: $accent
		color: #fff
		border-color: $accent

.svg-icon
	display: inline-block
	width: 100%
	height: 100%

strong, b
	font-weight: bold
	display: inline-block

ul, ol
	padding: 0 0 0 20px

.my-ul
	list-style: none
	padding: 0

.list-dots
	list-style-type: disc

.list-line
	li
		display: flex
		align-items: center
		&::before
			content: ''
			display: inline-block
			width: 13px
			height: 2px
			margin: 0 7px 0 0
			background: linear-gradient(to right, #FF3945 -4.28%, #3737F9 241.07%)

.container
	max-width: 1300px
	padding: 0 10px

.row
	margin: 0 -10px
	>*
		padding: 0 10px

h1
	font-size: 48px
	font-weight: bold
	letter-spacing: 1.44px
	line-height: 135%
	text-transform: uppercase
	font-family: $font
	width: 100%
	margin: 0 0 40px
	.color-gradient
		display: inline-block

h2
	width: 100%
	text-align: center
	font-size: 34px
	font-weight: bold
	font-family: $font
	margin: 0 auto 10px

h3
	font-size: 26px
	font-weight: bold
	margin: 0
	width: 100%

h4
	width: 100%
	font-size: 26px
	font-weight: bold
	margin: 0

.box-text
	letter-spacing: -0.6px
	font-size: 20px
	line-height: 150%

.subtitle-text
	text-align: center
	font-size: 20px
	letter-spacing: -0.6px
	line-height: 150%
	margin: 0 auto

.color-gradient
	background: linear-gradient(90deg, #FF3842 -28.58%, #3535FF 263.75%)
	background-clip: text
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

.color-accent
	color: $accent

.color-violet
	color: $violet

.p-80
	padding: 80px 0

.p-100
	padding: 100px 0	

.p-120
	padding: 120px 0

.mb-20
	margin-bottom: 20px

.column-count-2
	column-count: 2

.bg-black
	background: #161725 !important

.slick-slider
	width: 100%

.slick-slide
	outline: none

//checkbox my
.label-checkbox
	position: relative
	display: flex
	align-items: flex-start
	color: rgba(255, 255, 255, 0.5)
	font-size: 14px
	margin: 15px 0 0
	line-height: 1.14

.inp-check
	display: none

.checkbox-custom
	margin: 0 12px 0 0
	position: relative
	border-radius: 6px
	background-color: #fff
	width: 16px
	height: 16px
	min-width: 16px
	cursor: pointer

.inp-check:checked ~ .checkbox-custom
	background: #fff url("../img/check-black.svg") no-repeat center
	background-size: 8px
//checkbox my end
